flask
flask-login
flask-sqlalchemy
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn

pandas
pandas-datareader
cloudpickle
pickeshare
unicode
json5

python



